input[type=submit] {
    background-color: orange;
    color: white;
    padding: 12px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    float: right;
}
p{
    margin-bottom: 20px;
    margin-top: 0px;
}
h3{
    margin-bottom: 0px;
    margin-top: 5px;
}
.heading{
    background-color: #B8860B;
    color: white;
}
body{
    background-image: url(assets/image/kost.jpg);
}
body , body {
    display:flex;
    position: absolute;
    margin-left: 250px;
    margin-bottom: 500px;
    box-sizing: border-box;
}
form{
    width: 700px;
}
input[type=submit]:hover {
    background-color: #45a049;
}
.container {
    border-radius: 5px;
    background-color: #F0E68C;
    padding: 20px;
}
.row:after {
    content: "";
    display: table;
    clear: both;
}
@media screen and (max-width: 600px) {
    .responsive .col-25, .col-75, input[type=submit] {
        width: 100%;
        margin-top: 0;
    }
}