nav{
  display: flex;
  background-color: #000000;
  padding: 10px;
  height : 80px;
  width : 1280px;
  position: fixed;
  top: 0;
}
li{
  float: right;
  padding: 24px 24px 10px 10px;
}
li a{
  text-align: right;
  padding: 14px 16px;
  text-decoration: none;
  color: #FFFF;
}
li a:hover{
  text-align: right;
  padding: 14px 16px;
  text-decoration: none;
  color: #orange;
}
ul{
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  top: 0;
  width: 100%;
  position: fixed;
}